# Parameter Documentation
# 
# WINDOWS:      partial name of the archive to search in the github asset array for windows
#
# LINUX  :      partial name of the archive to search in the github asset array for linux
#
# API_URL:      github api url to fetch the JSON block, used to parse the assets array.
#
# GIT_URL:      github url that represents the releases section.
#
# FLATPAK_ARGS: Used under linux, chcks if the user is running retroarch under flatpak.
#
# ARGS:         Arguments supported by the emulator (leave empty if none are available)
#
# BIOS_ARG:     When choosing "run core" instead of selecting a game from the playlist,
#               run the BIOS of the emulator when available. 
#
# EXTENSIONS:   CD Formats supported by the emulator, used to populate the retro_system_info struct 
#               for the core.
#
# WIN_EXECUTABLE: The name of the executable to point to for Windows
#
# LINUX_EXECUTBALE: The name of the executable to point to for Linux
#
# ARCHIVE: The name of the emulator archive to download and then extract. This is passed to CURL.
#
# ARCHIVE_EXT: The extention of the archive, used to separate zip extraction from 7z extraction on windows.
#

[azahar]
WINDOWS_SEARCH_TOKEN=windows-msvc.zip 
LINUX_SEARCH_TOKEN=azahar.AppImage
API_URL=https://api.github.com/repos/azahar-emu/azahar/releases/latest
GIT_URL=https://github.com/azahar-emu/azahar/releases/download
FLATPAK_ARGS=--appimage-extract-and-run -f
ARGS=-f
BIOS_ARG=
EXTENSIONS=3ds|3dsx|elf|axf|cci|cxi|app
WIN_EXECUTABLE=azahar.exe
LINUX_EXECUTABLE=azahar.AppImage
ARCHIVE=azahar.zip
ARCHIVE_EXT=.zip

[duckstation]
WINDOWS_SEARCH_TOKEN=windows-x64-release.zip
LINUX_SEARCH_TOKEN=x64.AppImage
API_URL=https://api.github.com/repos/stenzek/duckstation/releases/latest
GIT_URL=https://github.com/stenzek/duckstation/releases/download
FLATPAK_ARGS=--appimage-extract-and-run -fullscreen
ARGS=-fullscreen
BIOS_ARG=-fullscreen -bios
EXTENSIONS=cue|img|ecm|chd
WIN_EXECUTABLE=duckstation-qt-x64-ReleaseLTCG.exe
LINUX_EXECUTABLE=duckstation.AppImage
ARCHIVE=DuckStation-x64.zip
ARCHIVE_EXT=.zip

[mgba]
WINDOWS_SEARCH_TOKEN=win64.7z
LINUX_SEARCH_TOKEN=x64.appimage 
API_URL=https://api.github.com/repos/mGBA-emu/mGBA/releases/latest
GIT_URL=https://github.com/mGBA-emu/mGBA/releases/download
FLATPAK_ARGS=--appimage-extract-and-run -f
ARGS=-f
BIOS_ARG=
EXTENSIONS=gba|gbc|gc
WIN_EXECUTABLE=mGBA.exe
LINUX_EXECUTABLE=mGBA.AppImage
ARCHIVE=mGBA.7z
ARCHIVE_EXT=.7z

[melonds]
WINDOWS_SEARCH_TOKEN=windows-x86_64.zip
LINUX_SEARCH_TOKEN=appimage-x86_64.zip 
API_URL=https://api.github.com/repos/melonDS-emu/melonDS/releases/latest
GIT_URL=https://github.com/melonDS-emu/melonDS/releases/download
FLATPAK_ARGS=--appimage-extract-and-run -f
ARGS=-f
BIOS_ARG=
EXTENSIONS=nds|ids|dsi
WIN_EXECUTABLE=melonDS.exe
LINUX_EXECUTABLE=melonDS.AppImage
ARCHIVE=melonDS.zip
ARCHIVE_EXT=.zip

[pcsx2]
WINDOWS_SEARCH_TOKEN=windows-x64-Qt.7z
LINUX_SEARCH_TOKEN=x64-Qt.AppImage
API_URL=https://api.github.com/repos/PCSX2/pcsx2/releases/latest
GIT_URL=https://github.com/PCSX2/pcsx2/releases/download
FLATPAK_ARGS=--appimage-extract-and-run -fullscreen 
ARGS=-fullscreen
BIOS_ARG=-fullscreen -bios
EXTENSIONS=iso|chd|elf|ciso|cso|bin|cue|mdf|nrg|dump|gz|img|m3u
WIN_EXECUTABLE=pcsx2-qt.exe
LINUX_EXECUTABLE=pcsx2.AppImage
ARCHIVE=pcsx2.7z
ARCHIVE_EXT=.7z

[ppsspp]
WINDOWS_SEARCH_TOKEN=Windows-x64.zip
LINUX_SEARCH_TOKEN=anylinux-x86_64.AppImage
API_URL=https://api.github.com/repos/hrydgard/ppsspp/releases/latest
GIT_URL=https://github.com/hrydgard/ppsspp/releases/download
FLATPAK_ARGS=--appimage-extract-and-run --fullscreen 
ARGS=--fullscreen
BIOS_ARG=--fullscreen
EXTENSIONS=iso|cso|chd|pbp|elf|prx
WIN_EXECUTABLE=PPSSPPWindows64.exe
LINUX_EXECUTABLE=ppsspp.AppImage
ARCHIVE=ppsspp.zip
ARCHIVE_EXT=.zip

[xemu]
WINDOWS_SEARCH_TOKEN=x86_64-release.zip
LINUX_SEARCH_TOKEN=x86_64.AppImage
API_URL=https://api.github.com/repos/xemu-project/xemu/releases/latest
GIT_URL=https://github.com/xemu-project/xemu/releases/download
FLATPAK_ARGS=--appimage-extract-and-run -full-screen -dvd_path
ARGS=-full-screen -dvd_path
BIOS_ARG=-full-screen
EXTENSIONS=iso
WIN_EXECUTABLE=xemu.exe
LINUX_EXECUTABLE=xemu.AppImage
ARCHIVE=xemu.zip
ARCHIVE_EXT=.zip

[xenia]
WINDOWS_SEARCH_TOKEN=windows.zip
LINUX_SEARCH_TOKEN=linux.AppImage
API_URL=https://api.github.com/repos/has207/xenia-edge/releases/latest
GIT_URL=https://github.com/has207/xenia-edge/releases/download
FLATPAK_ARGS=--appimage-extract-and-run --fullscreen=true
ARGS=--fullscreen=true
BIOS_ARG=
EXTENSIONS=iso|xex|zar
WIN_EXECUTABLE=xenia_edge.exe
LINUX_EXECUTABLE=xenia_edge.AppImage
ARCHIVE=xenia_edge.zip
ARCHIVE_EXT=.zip

[rpcs3]
WINDOWS_SEARCH_TOKEN=win64.zip
LINUX_SEARCH_TOKEN=linux_x64.AppImage
API_URL=https://api.github.com/repos/Fabxx/rpcs3/releases/latest
GIT_URL=https://github.com/Fabxx/rpcs3/releases/download
FLATPAK_ARGS=--appimage-extract-and-run --no-gui --fullscreen
ARGS=--fullscreen --no-gui
BIOS_ARG=
EXTENSIONS=iso
WIN_EXECUTABLE=rpcs3.exe
LINUX_EXECUTABLE=rpcs3.AppImage
ARCHIVE=rpcs3-win64.7z
ARCHIVE_EXT=.7z

[windows]
WINDOWS_SEARCH_TOKEN=
LINUX_SEARCH_TOKEN=
API_URL=
GIT_URL=
FLATPAK_ARGS=
ARGS=
BIOS_ARG=
EXTENSIONS=lnk
WIN_EXECUTABLE=
LINUX_EXECUTABLE=
ARCHIVE=
ARCHIVE_EXT=